In [18]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [19]:
from sklearn import tree

In [3]:
input_file = "../../DataScience/PastHires.csv"

In [4]:
df = pd.read_csv(input_file, header=0)
df.head()

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,Y,4,BS,N,N,Y
1,0,N,0,BS,Y,Y,Y
2,7,N,6,BS,N,N,N
3,2,Y,1,MS,Y,N,Y
4,20,N,2,PhD,Y,N,N

In [5]:
d = {'Y': 1, 'N': 0}
df['Hired'] = df['Hired'].map(d)

In [6]:
df['Employed?'] = df['Employed?'].map(d)
df['Top-tier school'] = df['Top-tier school'].map(d)
df['Interned'] = df['Interned'].map(d)
d = {'BS': 0, 'MS':1, 'PhD': 2}
df['Level of Education'] = df['Level of Education'].map(d)
df.head()

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,1,4,0,0,0,1
1,0,0,0,0,1,1,1
2,7,0,6,0,0,0,0
3,2,1,1,1,1,0,1
4,20,0,2,2,1,0,0

In [10]:
features = list(df.columns[:6])

In [11]:
y = df['Hired']
X = df[features]
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X,y)

In [15]:
from IPython.display import Image
from sklearn.externals.six import StringIO
import pydot

dot_data = StringIO
tree.export_graphviz(clf, out_file=dot_data,feature_names = features)
graph = pydot.graph_from_dot_data(dot_data.getvalue())
Image(graph.create_png())

ImportError: No module named 'pydot'

In [21]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=10)
clf = clf.fit(X,y)
print(clf.predict([10,1,4,0,0,0]))
print(clf.predict([10,0,4,0,0,0]))

[1]
[0]