In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
r_cols = ['user_id','movie_id','rating']
ratings = pd.read_csv("../../DataScience/ml-100k/u.data", sep="\t", names=r_cols, usecols=range(3))
ratings.head()

   user_id  movie_id  rating
0        0        50       5
1        0       172       5
2        0       133       1
3      196       242       3
4      186       302       3

In [4]:
movieProperties = ratings.groupby('movie_id').agg({'rating': [np.size, np.mean]})
movieProperties.head()

         rating
           size      mean
movie_id
1           452  3.878319
2           131  3.206107
3            90  3.033333
4           209  3.550239
5            86  3.302326

In [6]:
movieNumRatings = pd.DataFrame(movieProperties['rating']['size'])
movieNormalizedRatings = movieNumRatings.apply(lambda x: (x - np.min(x))/ (np.max(x) - np.min(x)))
movieNormalizedRatings.head()

              size
movie_id
1         0.773585
2         0.222985
3         0.152659
4         0.356775
5         0.145798

In [16]:
movieDict = {}
with open("../../DataScience/ml-100k/u.item", encoding="ISO-8859-1") as f:
    temp = ""
    for line in f:
        fields = line.rstrip('\n').split('|')
        movieId = int(fields[0])
        name = fields[1]
        genres = fields[5:25]
        #genres = map(int, genres)
        movieDict[movieId] = (name, genres, movieNormalizedRatings.loc[movieId].get('size'), movieProperties.loc[movieId].rating.get('mean'))

In [19]:
movieDict[1]

('Toy Story (1995)',
 ['0',
  '0',
  '0',
  '1',
  '1',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0'],
 0.77358490566037741,
 3.8783185840707963)

In [27]:
movieDict[1]

('Toy Story (1995)',
 ['0',
  '0',
  '0',
  '1',
  '1',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0'],
 0.77358490566037741,
 3.8783185840707963)

In [31]:
from scipy import spatial
def computeDistance(a, b):
    genresA = a[1]
    genresB = b[1]
    genresA = np.array(genresA, dtype=float)
    genresB = np.array(genresB, dtype=float)
    genreDistance = spatial.distance.cosine(genresA, genresB)
    popularityA = a[2]
    popularityB = b[2]
    popularityDistance = abs(popularityA - popularityB)
    return genreDistance + popularityDistance

computeDistance(movieDict[2], movieDict[4])

0.8004574042309891

In [32]:
#far distance means not similar

In [33]:
import operator

In [45]:
def getNeighbors(movieId, K):
    distances = []
    for movie in movieDict:
        if(movie != movieId):
            dist = computeDistance(movieDict[movieId], movieDict[movie])
            distances.append((movie, dist))
    distances.sort(key=operator.itemgetter(1))
    neighbors = []
    for x in range(K):
        neighbors.append(distances[x][0])
    return neighbors

K = 10
avgRating = 0
neighbors = getNeighbors(1,K)
for neighbor in neighbors:
    avgRating += movieDict[neighbor][3]
    print(movieDict[neighbor][0] + " " + str(movieDict[neighbor][3]))
avgRating /= float(K)

Liar Liar (1997) 3.15670103093
Aladdin (1992) 3.81278538813
Willy Wonka and the Chocolate Factory (1971) 3.63190184049
Monty Python and the Holy Grail (1974) 4.0664556962
Full Monty, The (1997) 3.92698412698
George of the Jungle (1997) 2.68518518519
Beavis and Butt-head Do America (1996) 2.78846153846
Birdcage, The (1996) 3.44368600683
Home Alone (1990) 3.08759124088
Aladdin and the King of Thieves (1996) 2.84615384615

In [46]:
avgRating

3.3445905900235564

In [47]:
#actual rating
movieDict[1]

('Toy Story (1995)',
 ['0',
  '0',
  '0',
  '1',
  '1',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0'],
 0.77358490566037741,
 3.8783185840707963)